/*Globals*/
/*login*/
html,
body {
  height: 100%;
  /* background-color: #333; */
}

/*header*/
.navbar {
  margin-bottom: 2rem;
  height:4rem;
  background-color: #333; 
}

.navbar-title {
  margin-bottom:0;
  color: #fff; 
  
}

/*main*/
.main {
  padding: 0 1.5rem;
}
.main .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.carousel {
  margin-bottom: 4rem;
  
}

.carousel-caption {
  bottom: 6rem;
  z-index: 10;
}

.carousel-item {
  height: 30rem;
  width: 100%;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 150%;
  height: 32rem;
}

.pprofessor{
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: -10px;
}

#videoBox { 
  height: 30rem;
  width: 70%;
} 

.video { 
  width: 100%; 
  vertical-align: bottom; 
} 
  
#videoBox.in { 
  animation: ac 1s; 
} 
  
#videoBox.out { 
  position: fixed; 
  bottom: 0; 
  right: 0; 
  width: 300px; 
  z-index: 999; 
  animation: an 0.5s; 
}


.hrfirst {
  margin: -100px 5px -50px; /*5rem*/
}

.hr {
  margin: 10px 5px 15px 20px; /*5rem*/
}

.Introduction-heading {
  font-weight: 400;
  line-height: 1;
  letter-spacing: .05rem;
}



@media (min-width: 40em) {
  
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  
  .Introduction-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .Introduction-heading {
    margin-top: 7rem; /* 12 */
  }
  
  .featurette-image {
	margin-top: 8rem;  
  }
}

/*Footer*/
.footer {
  color: #fff;
}